[include]
	path = /home/lasse/.config/git/.gitconfig-main
[commit]
	template = /home/lasse/.config/git/gitmessage.txt
[core]
	excludesfile = /home/lasse/.config/git/gitignore
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
