* {
    font-family: monospace;
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: #c6d0f5;
}

.modules-left {
	margin: 0px 0px 0px 4px
}

.modules-right {
	margin: 0px 10px 0px 0px
}

#workspaces button {
    padding: 0px 4px 0px 0px;
    color: #838ba7;
}

#workspaces button.focused {
    color: #c6d0f5;
}


#workspaces button:hover {
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
	border-color: transparent;

}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

