* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #93a1a1;
}

#window {
    font-weight: bold;
    font-family: monospace;
}

/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #93a1a1;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #dc322f;
    border-top: 2px solid #dc322f;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#tray,
#clock,
#pulseaudio-slider,
#mode {
    padding: 6px 3px 0px 3px;
    margin: 0 2px;
    border-radius: 4px;
}

#clock {
    font-weight: bold;
}

#battery {}

#battery icon {
    color: red;
}

#battery.charging {}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {}

#memory {}

#network {}


#pulseaudio {}

#pulseaudio.muted {}

#tray {}
